@model List<Person>

@if (Model == null)
{

}
else
{
    <form id="LoadDataForm" method="POST">
        <table style="margin-top: 20px;" class="table table-condensed" id="TableLoadData">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Grad</th>
                    <th>Postanski broj</th>
                    <th>Broj mobitela</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.FirstName
                            <span asp-validation-for="@item.FirstName" class="text-danger"></span>
                        </td>

                        <td>
                            @item.LastName
                            <span asp-validation-for="@item.LastName" class="text-danger"></span>
                        </td>

                        <td>
                            @item.CityName
                            <span asp-validation-for="@item.CityName" class="text-danger"></span>
                        </td>

                        <td>
                            @item.PostalCode
                            <span asp-validation-for="@item.PostalCode" class="text-danger"></span>
                        </td>

                        <td>
                            @item.MobileNumber
                            <span asp-validation-for="@item.MobileNumber" class="text-danger"></span>
                        </td>
                        <td>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="form-group">
            <input type="button" value="Pospremi listu" class="btn btn-default" id="SaveList"/>
        </div>
    </form>
}



@*<form asp-controller="Zadatak" id="CreateOrEditModalForm">
        <div class="form-group">
            <label class="control-label">Ime osobe</label>
            <input asp-for="FirstName" class="form-control" id="FirstName" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Prezime osobe</label>
            <input asp-for="LastName" class="form-control" id="LastName" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Naziv grada</label>
            <input asp-for="CityName" class="form-control" id="CityName" />
            <span asp-validation-for="CityName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Poštanski broj</label>
            <input asp-for="PostalCode" class="form-control" id="PostalCode" onkeypress="return isNumberKey(event)" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Mobilni broj</label>
            <input asp-for="MobileNumber" class="form-control" id="MobileNumber" onkeypress="return isNumberKey(event)" />
            <span asp-validation-for="MobileNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Pospremi osobu" class="btn btn-default" id="SavePerson" />
        </div>
    </form>*@